@charset "UTF-8";

/* FONTES */
@font-face {
    font-family: 'bebas';
    src: url('font/BebasNeueRegular.otf') format('Opentype');
}
@font-face {
    font-family:'idro' ;
    src: url('font/idroid.otf')format('opentype');
}
 
/*@font-face {
    font-family: 'beba';
    src: url('font/BebasNeueRegular.otf') format('opentype'),
         url('font/BebasNeueRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'idro';
    src: url('font/iDroid.otf') format('opentype');
}*/
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: rgba(231, 197, 155, 0.379);
    
}

/* HEADER */
header {
    background-image: linear-gradient(to bottom,  #16693ee3, #0f713a,#1f5d3de3, #135f34);
    color: white;
    padding: 55px;
    box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.566);
}

header h1 {
    font-family: 'bebas';
    text-align: center;
    font-size: 48px;
    font-weight: lighter;
   
}

header p {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin:20px
    
    
}

/* NAV */
header nav {
    background-color: #0b6c3569;
    margin-bottom: -55px;
    margin-left: -60px;
    margin-right: -60px;
    padding: 8px;
}

header nav a {
    text-decoration: none;
    color:white;
    text-align: left;
    font-weight: bold;
    margin: 0px 8px;
    padding: 10px;
    transition: 0.3s;
}

header nav a:hover {
    background-color: #0ec466e3;
    color: #074a24;
    border-radius: 5px;
    text-decoration: underline;
}

/* MAIN */
main {
    max-width: 1000px;
    margin: 40px auto;
    box-shadow: 3px 3px 20px #848181;
    border-radius: 20px;
    overflow: hidden; /* MUITO importante */
}

/* SECTIONS */
section {
    background-color: white;
    margin: 0;
    padding: 20px;
    /* border-left: 2px solid #000;
    border-right: 2px solid #000; */
    /* box-shadow: 3px 3px 20px #848181; */
}

section:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* TÍTULO PRINCIPAL */
#principal {
    font-family: 'idro';
    color: #074a24;
    font-size: 28px;
    text-align: left;
    margin-bottom: 15px;
}

/* SUBTÍTULOS */
.h2 {
    font-family: 'idro ';
    font-weight: lighter;
    color: #0a6130fb;
    background-image: linear-gradient(to right, rgba(20, 223, 155, 0.427), white);
    font-size: 22px;
    padding: 5px;
    margin: 15px 0;
}

/* PARÁGRAFOS */
.p2 {
    font-size: 16px;
    text-indent: 20px;
    text-align: justify;
    margin: 15px 0;
}

.p3 {
    font-size: 16px;
    text-indent: 20px;
    margin: 10px 0;
}
.p3>a{
    color: #073c1e;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.p3 >a:hover{
    text-decoration: underline;
}

/* LINKS DIFERENTES */
.diferente1 {
    color: #073c1e;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(13, 227, 156, 0.58);
    padding: 2px;
}

.diferente1:hover {
    text-decoration: underline;
}
div.video{
    background-color: #073c1e;
    padding: 0px 0px 20px 0px;   
    
}

/* IMAGENS */
picture {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

picture img {
    max-width: 100%;
    border-radius: 10px;
}

/* VÍDEO */
.video {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.video iframe {
    max-width: 100%;
    border-radius: 10px;
}

/* ASIDE */
aside {
    background-color: #83e1ade6;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
   
}

/* LISTA */
ul {
    list-style-type: '✔  ';
    columns: 2;
    margin: 15px 0;
    list-style-position: inside;
}
strong{
    color: #073c1e;
    padding: 10px;
    
}


/* FOOTER */
footer {
    background-color: #073c1e;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
   
}
footer > a {
    color: white;
    text-decoration: none;
}
footer > a:hover{
    text-decoration: underline;
    padding: 8px;
}